@font-face {
  font-family: tahoma, sans-serif;
  src: url(./public/fonts/tahoma.ttf);
}
@font-face {
  font-family: cooper, sans-serif;
  src: url(./public/fonts/cooper.woff);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: tahoma;
}

body {
  margin: 0 auto;
  padding-bottom: 1px;
  width: 800px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
header {
  display: flex;
  align-items: center;
  padding: 20px;

  & nav {
    width: 100%;
  }

  & nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    list-style-type: none;
  }
}

nav a {
  color: blue;
  text-decoration: none;

  &:active {
    color: #ef5466;
  }
}

main {
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 12px;
}

h1,
h2 {
  font-family: cooper;
}

h1 {
  font-size: 5rem;
}
h2 {
  font-size: 3rem;
  font-weight: 800;
  text-decoration: underline #14978d;
}
h3 {
  font-size: 2rem;
  text-decoration: underline #14978d;
}

.mtop {
  margin-top: 12px;
}

.mbottom {
  margin-bottom: 12px;
}

table {
  margin: 0 auto;
  width: 50%;
  border-collapse: collapse;
}
table,
th {
  border: solid 1px gray;
}
th {
  width: 50%;
}

tr {
  margin: 10px 0px;
}
.chiant {
  border-right: solid 1px gray;
}
.chiant-2 {
  border-right: none;
}

.text-center {
  text-align: center;
}

.mleft {
  margin-left: 24px;
}

.music-reader {
  border: solid 2px black;
  padding: 24px 12px 0px 12px;
}

footer {
  padding-left: 12px;
  color: #4d91de;

  & a {
    color: #4d91de;
  }
}

.music-reader__title {
  font-size: 24px;
  font-weight: 600;
}

.music-reader__subtitle {
  font-size: 18px;
  font-weight: 500;

  margin: 12px 0px;
}

.stripe {
  display: flex;
  align-items: center;

  p {
    width: fit-content;
  }
  & input {
    display: inline-block;
  }
}

#contact {
  display: flex;
  gap: 20px;
}

fieldset {
  padding: 20px;
  margin: 10px 0px;
}

.mbottom-xl {
  margin-bottom: 10px;
}
input {
  margin-top: 10px;
  margin-bottom: 10px;
}

.features {
  margin: 0 auto;
  width: 50%;

  & ul {
    width: fit-content;
    list-style-position: inside;
  }
  & ol {
    width: fit-content;
    list-style-position: inside;
  }
}

hr {
  width: 100%;
  margin: 0 auto;
}

input[type="submit"] {
  margin: 0 10px;
  width: fit-content;
  padding: 12px 18px;
  margin-left: 0px;
  background-color: aliceblue;
}

#demande {
  width: 300px;
  height: fit-20px;
}

textarea {
  display: block;
  margin: 10px 0px;
  width: 300px;
  max-width: 400px;
  height: 200px;
  max-height: 500px;
}

.form__radio {
  display: flex;
  gap: 20px;
}

.field-infos {
  & div {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 30px;
  }
}

.field-demande {
  height: fit-content;
  padding: 10px 12px;
  margin-bottom: 0;
}

article {
  border: solid 1px black;
  padding: 20px;

  & img {
    display: inline;
    max-width: 300px;
  }

  & p {
    margin-bottom: 10px;
  }

  & a {
    display: block;
    width: fit-content;
    margin: 0 auto;
  }
}

label[for="ok"] {
  margin-top: 0;
}

.cgv {
  margin-bottom: 10px;
}
